/*
* go to matching pair
*/
.aclass {
  background: #000;
  color: red;
  display: inline-block;
}


/*
* go to css declaration (open html-walkthrough)
*/
.bclass {
  background: #000;
  color: red;
  display: inline-block;
}

/*
* pick color of aclass
*/